<div ng-controller="myTransactionsCtrl">


<div class="row">
    <div class="col-sm-3"  style="padding-right:20px; border-right: 1px solid #ccc;">
    
        
        
        <h2 align="center">Requests waiting For Your Approval</h2>
        <h3 ng-hide="waitingForApprovalTransactions.length" align="center"> No requests </h3>
    <div class="well" ng-repeat="transaction in waitingForApprovalTransactions"> 
        
        <h3>{{transaction.product}}</h3>
        <h3>{{transaction.buyer}}</h3>
        <button ng-click="update('APPROVED',$index)" class="btn btn primary">Approve</button>
        <button ng-click="update('REJECTED',$index)" class="btn btn primary">Reject</button>
        </div>
        
        
    </div>
    <div class="col-sm-3 " style="padding-right:20px; border-right: 1px solid #ccc;">
       <h2 align="center">Requests Pending For Approval</h2>
        <h3 ng-hide="waitingToBeApprovedTransactions.length" align="center">No Pending request</h3>
            <div class="well" ng-repeat="transaction in waitingToBeApprovedTransactions"> 
        
        <h3>{{transaction.product}}</h3>
        <h3>{{transaction.buyer}}</h3>
                <br><br>
        
        </div>
        </div>
    
    
        <div class="col-sm-3 " style="padding-right:20px; border-right: 1px solid #ccc;">
       <h2 align="center">Approved Transactions</h2>
        <h3 ng-hide="approvedTransactions.length" align="center">No Approved Transactions</h3>
            <div class="well" ng-repeat="transaction in approvedTransactions"> 
        
        <h3>{{transaction.product}}</h3>
        <h3>{{transaction.buyer}}</h3>
                <br><br>
        
        </div>
        </div>
    
        <div class="col-sm-3 " >
       <h2 align="center">Rejected Transactions</h2>
        <h3 ng-hide="rejectedTransactions.length" align="center">No Rejected Transactions</h3>
            <div class="well" ng-repeat="transaction in rejectedTransactions"> 
        
        <h3>{{transaction.product}}</h3>
        <h3>{{transaction.buyer}}</h3>
                <br><br>
        
        </div>
        </div>

    
    
    </div>
    
  </div>

</div>