<div ng-controller='registerUserCtrl'>
    <div class="col-md-4 col-md-offset-8"> 
 <button class="btn btn-success" ng-click="signUpUser()" name="signUpButton">SignUp_Here</button>
    </div>
</div>
<div ng-controller='loginCtrl'>
    <br>
    <br>
    <div class="col-md-4 col-md-offset-4"> 
    <form class=" col-xs-20 " name=" loginForm" role="form" >

    <div class=" panel panel-primary" style=" border-color:black" >
      <div class="panel-heading" style=" background-color: #f05f40;border-color:black">LOGIN</div>
      <div class="panel-body">
          <div class="form-group">
            <label>Username   <span class="glyphicon glyphicon-user"></span></label>
            <input type="text" ng-model="user.username"  name="username"  class="form-control " required>
              </input>
          </div>
        
          <div class="form-group">
            <label>Password   <span class="glyphicon glyphicon-lock"></span> </label>
            <input type="password" ng-model="user.password"  name="password"  class=" form-control" required>
              </input>
         </div>
      </div>
    <button class="btn btn-primary center-block" ng-click="login()" name="loginButton">Login</button>
        
    </div>
    </div>
    </form>
    <br>
    <br>
</div>
