 <div ng-controller="registerUserCtrl" >
     <div class="col-md-4 col-md-offset-4">
    <form class=" col-xs-20 " name="form" ng-click="createUser()">
        <div class=" panel panel-primary" style=" border-color:black" >
        <div class="panel-heading" style=" background-color: #f05f40;border-color:black">REGISTER</div>
            <div class="panel-body">
         <div class="form-group">
         <label class="control-label" for="firstName">Enter first name </label>        
        <input type="text" id="firstName" name="firstName" ng-model="user.firstName"  ng-maxlength="12" class="form-control" required>
            
        </div>
        <span ng-show="form.firstName.$error.maxlength"> 
            12 characters is maximum limit
        </span>    
             
          <div class="form-group">
              <label class="control-label" for="lastName">Enter last name</label>
               
              <input type="text" id="lastName" name="lastName" ng-model="user.lastName"  ng-maxlength="12" class="form-control" required> 
        </div>
        <span ng-show="form.lastName.$error.maxlength"> 
        12 characters is maximum limit
        </span>              
        <div class="form-group">
              <label class="control-label" for="username">Enter username</label>
              <input type="text" id="username" name="username" ng-model="user.username"  ng-maxlength="12" class="form-control" required>
        </div>
        <span ng-show="form.username.$error.maxlength"> 
        12 characters is maximum limit
        </span>
        <div class="form-group">
              <label class="control-label" for="password">Enter password</label>
            <input type="password" id="password" name="password" ng-model="user.password" ng-minlength="6" ng-maxlength="12" class="form-control" required>  
        </div>
        <span ng-show="form.password.$error.maxlength"> 
        12 characters is maximum limit
        </span>
        <span ng-show="form.password.$error.minlength"> 
        6 characters is minimum limit
        </span>
        <div class="form-group">
         <label class="control-label" for="mobile">Enter mobile   number</label>
<input type="number" id="mobile" name="mobile" ng-model="user.mobile" ng-minlength="10" ng-maxlength="10" class="form-control" required> 
        </div>
        <span ng-show="form.mobile.$error.maxlength"> 
        10 numbers is the maximum limit
        </span>
        <span ng-show="form.mobile.$error.minlength"> 
        10 numbers is the minimum limit
        </span>
       
        <div class="form-group">
              <label class="control-label" for="password">Enter address </label>
<input type="text" id="address" name="address" ng-model="user.address" class="form-control" required> 
        </div>
         <div class="form-group">
              <label class="control-label" for="password">Enter email id </label> 
<input type="email" id="email" name="email" ng-model="user.email" class="form-control" required>
        </div>
        <br><div class="controls">
                <button class="btn btn-success" >Register</button>
           </div>
        </div>
      </form>
     </div>
   </div>