<div ng-controller="registerUserCtrl" >
    <form name="user" ng-submit="submit()">
    <div>Enter first name 
    <input type="text" id="fname" name="fname" ng-model="user.firstName"  ng-maxlength="12" required> <br/>  
    </div>
        <span ng-show="form.fname.$error.required"> 
        first name is required
        </span> 
        <span ng-show="form.fname.$error.maxlength"> 
            12 characters is maximum limit
        </span> 
                <br>
        <div>Enter last name 
        <input type="text" id="lname" name="lname" ng-model="user.lastName"  ng-maxlength="12"          required> <br/>  
    </div>
        <span ng-show="form.lname.$error.required"> 
        last name is required
        </span> 
        <span ng-show="form.lname.$error.maxlength"> 
        12 characters is maximum limit
        </span>        
        <br>
        <div>Enter user name 
            <input type="text" id="uname" name="uname" ng-model="user.userName"  ng-maxlength="12" required> <br/>  
        </div>
        
        <span ng-show="form.uname.$error.required"> 
        user name is required
        </span> 
        <span ng-show="form.uname.$error.maxlength"> 
        12 characters is maximum limit
        </span>
        <br>
    
        <div>Enter password 
            <input type="password" id="password" name="password" ng-model="user.password" ng-minlength="6" ng-maxlength="12" required> <br/>  
    </div>
        <span ng-show="form.password.$error.required"> 
        password is required
        </span> 
        <span ng-show="form.password.$error.maxlength"> 
        12 characters is maximum limit
        </span>
        <span ng-show="form.password.$error.minlength"> 
        6 characters is minimum limit
        </span><br>
        
        <div>Enter mobile number
<input type="number" id="mobNum" name="mobNum" ng-model="user.mobNum" ng-minlength="10"   ng-maxlength="10" required> <br/>  
    </div>
        <span ng-show="form.mobNum.$error.required||form.mobNum.$error.number"> 
        valid mobile number is required
        </span> 
        <span ng-show="form.mobNum.$error.maxlength"> 
        10 numbers is the maximum limit
        </span>
        <span ng-show="form.mobNum.$error.minlength"> 
        10 numbers is the minimum limit
        </span><br>
       
        <div>Enter address
<input type="text" id="address" name="address" ng-model="user.address" required> <br/> 
    </div>
        <span ng-show="form.address.$error.required"> 
        address is required
        </span> 
        <br>
        
         <div>Enter email
<input type="email" id="email" name="email" ng-model="user.email" required> <br/> 
    </div>
        <span ng-show="form.address.$error.required||form.address.$error.email"> 
        valid email id is required
        </span> 
        <br>
        <input type="submit" id="submit" value="Register"/>
    </form>
</div>