<div ng-controller="advertisementSearchResultCtrl">
    <h3 class="search">Search Results</h3>
	
    <div ng-repeat="advertisement in advertisements">
        <div class="container searchresults" >
		
     <div class="well well-lg " id="well">


  <br>
     <h2 class="h2ad">{{advertisement.name}} </h2>
<h5 class="h5ad" id="saletype"> ON {{advertisement.saleType}}</h5>
      
        
    <br>
        
   
   <h5 class="h4ad">  {{advertisement.category}} </h5>
       <h5 class="h4ad">  Advertisement validity till  {{advertisement.dateExp}} </h5>
   
  
    

         <h4 id="price" >Rs {{advertisement.price}} <span class="glyphicons glyphicons-money"></span></h4>
         Negotiable : {{advertisement.isNegotiable}}
    
          <br>
 
  <br>
  
   <a ui-sref="showAdvertisement({advertisement:{{advertisement}}})" id="show">SHOW <span class="glyphicon glyphicon-eye-open"></span></a> 
  <br>

  </div>
  
  </div>

</div>   
    </div>


