<div ng-controller="advertisementSearchResultCtrl">
    <h3 ng-show="advertisements.length" class="search">Search Results</h3>
    <h3 ng-hide="advertisements.length" class="search">No advertisement found</h3>
	
    <div ng-repeat="advertisement in advertisements">
        
       
        <div class="container" >
            <div class="row">
     <div class="well">
         		 

<img class="center-block" ng-src="{{advertisement.images[0].url}}" align="middle"  alt="Product preview not available">
  <br>
        
     <h2 class="h2ad">{{advertisement.name}} </h2>
<h5 class="h5ad" id="saletype"> FOR {{advertisement.saleType}}</h5>
      
        
    <br>
        
   
   <h5 class="h4ad">  {{advertisement.category}} </h5>
       <h5 class="h4ad">  Advertisement validity till  {{advertisement.dateExp}} </h5>
   
  
    

         <h4 id="price" >Rs {{advertisement.price}} </h4>
        Is Negotiable :  {{advertisement.isNegotiable}}
	
    
          <br>
 
  <br>
  
         <a ui-sref="showAdvertisement({advertisement:{{advertisement}}})" id="show"><button class="btn btn-primary">SHOW</button></a> 
  <br>

  </div>
                </div>
  
  </div>

</div>   
    </div>


