<div ng-controller="myAdvertisementsCtrl">
    <h3>Your Advertisements</h3>
    <div ng-repeat="advertisement in myAdvertisements">
        <div class="container">
     
    <table class="table">
    <tbody>
        
      <tr class="info">
        <td> Product name : </td>
        <td>{{advertisement.name}}</td>
      </tr>
        
      <tr class="danger">
        <td> Sale Type : </td>
        <td>{{advertisement.saleType}}</td>
      </tr>
        
      <tr class="info">
        <td> Category : </td>
        <td>{{advertisement.category}}</td>
      </tr>
        
      <tr class="danger">
        <td> Expiry Date : </td>
        <td>{{advertisement.dateExp}}</td>
      </tr>
        
      <tr class="info">
        <td> Price : </td>
        <td>{{advertisement.price}}</td>
      </tr>
        
      </tr>
        <tr class="danger">
        <td> Negotiable : </td>
        <td>{{advertisement.isNegotiable}}</td>
      </tr> 
    
    </tbody>
  </table>


</div>

<button ng-click="delete($index)" class="btn btn-primary">DELETE</button>
<button ng-click="edit($index)" class="btn btn-primary">EDIT</button>
</div>



</div>