<div ng-controller="myAdvertisementsCtrl">
    <h3>Your Advertisements</h3>
    <div ng-repeat="advertisement in myAdvertisements">
        <div class="container">
     
    <table class="table">
    <tbody>
        
      <tr class="info">
        <td> Product name : </td>
        <td>{{advertisement.name}}</td>
      </tr>
        
      <tr class="danger">
        <td> Sale Type : </td>
        <td>{{advertisement.saleType}}</td>
      </tr>
        
      <tr class="info">
        <td> Category : </td>
        <td>{{advertisement.category}}</td>
      </tr>
        
      <tr class="danger">
        <td> Expiry Date : </td>
        <td>{{advertisement.dateExp}}</td>
      </tr>
        
      <tr class="info">
        <td> Price : </td>
        <td>{{advertisement.price}}</td>
      </tr>
        
      </tr>
        <tr class="danger">
        <td> Negotiable : </td>
        <td>{{advertisement.isNegotiable}}</td>
      </tr> 
    
    </tbody>
  </table>
<!--
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Description :</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">{{advertisement.name}}</div>
      <div class="panel-footer">{{advertisement.description}}</div>
    </div>
  </div>
</div>-->

</div>
<a ui-sref="editAdvertisement({advertisement:{{advertisement}}})">EDIT</a>
</div>


</div>