<div ng-controller="myAdvertisementsCtrl">
    <h3 class="search">Your Advertisements</h3>
    <div ng-repeat="advertisement in myAdvertisements">
	       <div class="container searchresults" >
		
     <div class="well well-lg " id="well">


  <br>
     <h2 class="h2ad">{{advertisement.name}} </h2>
<h5 class="h5ad" id="saletype"> FOR {{advertisement.saleType}}</h5>
      
        
    <br>
        
   
   <h5 class="h4ad">  {{advertisement.category}} </h5>
       <h5 class="h4ad">  Advertisement validity till  {{advertisement.dateExp}} </h5>
   
  
    

         <h4 id="price" >Rs {{advertisement.price}} </h4>
        Is Negotiable :  {{advertisement.isNegotiable}}
	
    
   <br>
   <br>
  

<button ng-click="delete($index)" class="btn btn-primary" id="myadv">DELETE <span class="glyphicon glyphicon-remove-sign"></span></button>
<button ng-click="edit($index)" class="btn btn-primary" id="myadv">EDIT <span class="glyphicon glyphicon-pencil"></span></button>
  </div>
 <!--        <div class="container">
     
    <table class="table">
    <tbody>
        
      <tr class="info">
        <td> Product name : </td>
        <td>{{advertisement.name}}</td>
      </tr>
        
      <tr class="danger">
        <td> Sale Type : </td>
        <td>{{advertisement.saleType}}</td>
      </tr>
        
      <tr class="info">
        <td> Category : </td>
        <td>{{advertisement.category}}</td>
      </tr>
        
      <tr class="danger">
        <td> Expiry Date : </td>
        <td>{{advertisement.dateExp}}</td>
      </tr>
        
      <tr class="info">
        <td> Price : </td>
        <td>{{advertisement.price}}</td>
      </tr>
        
      </tr>
        <tr class="danger">
        <td> Negotiable : </td>
        <td>{{advertisement.isNegotiable}}</td>
      </tr> 
    
    </tbody>
  </table>


</div> -->


</div>



</div>