<div ng-controller="showAdvertisementCtrl" >
    
<div class="container">
     <h3>Details of searched item.</h3>
    <table class="table">
    <tbody>
        
      <tr class="info">
        <td> Product name : </td>
        <td>{{advertisement.name}}</td>
      </tr>
        
      <tr class="danger">
        <td> Sale Type : </td>
        <td>{{advertisement.saleType}}</td>
      </tr>
        
      <tr class="info">
        <td> Category : </td>
        <td>{{advertisement.category}}</td>
      </tr>
        
      <tr class="danger">
        <td> Expiry Date : </td>
        <td>{{advertisement.dateExp}}</td>
      </tr>
        
      <tr class="info">
        <td> Price : </td>
        <td>{{advertisement.price}}</td>
      </tr>
        
      </tr>
        <tr class="danger">
        <td> Negotiable : </td>
        <td>{{advertisement.isNegotiable}}</td>
      </tr> 
    
    </tbody>
  </table>
<h3>Comments:</h3>
<div ng-repeat="comment in advertisement.comments">    
<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>{{comment.user}}</strong> <span class="text-muted">commented on {{comment.date}}</span>
</div>
<div class="panel-body">
 {{comment.body}}
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
</div>
<div class="col-sm-12">
 <form class="form-inline">      
     <div class="form-group">
                
  <input ng-model="commentBody" class="form-control" type="text" placeholder="YOUR COMMENTS"/>
            </div>
            <div class="form-group">
                <button ng-click="addComment()" class="btn btn-success">Add</button>
            </div>
        </form>
</div>
</div>  
</div>