<div ng-controller="showAdvertisementCtrl" >
<div class="field col-md-9 col-md-offset-9">  
</div>
    <div class="container">
     <h3 id="showadv">Details of the searched item</h3>
        <div class="container showresults" >

     <div class="well well-lg " id="showwell">

 <button ng-if="advertisement.creator!=username" type="button" ng-click="createTransaction()" class="btn btn-success" id="buynow">Buy Now</button>
    		 <h3 id="your" ng-if="advertisement.creator==username">Your advertisement</h3> <h2 class="h2ad">{{advertisement.name}} </h2>
<h5 class="h5ad" id="saletype"> FOR {{advertisement.saleType}}</h5>
      
         
 <br>
        
   
   <h5 class="h4ad">  {{advertisement.category}} </h5>
       <h5 class="h4ad">  Advertisement validity till  {{advertisement.dateExp}} </h5>
   
  
    

         <h4 id="price" >Rs {{advertisement.price}} </h4>
        Is Negotiable :  {{advertisement.isNegotiable}}
	
    
          <br>
 
  <br>

    
  <br>

  </div>
  
  </div>
  
  
  <br>
  <br>
<!-- <h3>Comments:</h3> -->
<div id="addcom" ng-repeat="comment in advertisement.comments">    
<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>{{comment.user}}</strong> <span class="text-muted">commented on {{comment.date}}</span>
</div>
<div class="panel-body">
 {{comment.body}}
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
</div>
<div class="col-sm-10">
 <form class="form">      
     <div class="form-group">
                
  <input id="comments" ng-model="commentBody" class="form-control" type="text" placeholder="YOUR COMMENTS"/>
            </div>
            <div class="form-group">
                <button ng-click="addComment()" class="btn btn-primary" id="addcom">Add <span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        </form>
</div>
</div>  
</div>