<div ng-controller="showAdvertisementCtrl" >
    <div class="container">
        <div class="jumbotron">
            <img height="400" class="center-block" ng-src="{{advertisement.images[0].url}}" align="middle"  alt="Product preview not available">
            <h3 id="your" ng-if="advertisement.creator==username">Your advertisement</h3> <h2>{{advertisement.name}} </h2>
            <h3>Posted by :{{advertisement.creator}} </h3>
            <h5 class="h5ad" id="saletype"> FOR {{advertisement.saleType}}</h5>
            <h4 id="price" >Rs {{advertisement.price}} </h4>  
            <div ng-if="advertisement.isNegotiable">Negotiable</div>
            <div ng-if="!advertisement.isNegotiable">Not Negotiable</div>
            <div class="row">
                <div class="col-md-offset-8">
                    <div ng-if="advertisement.creator!=username" ng-click="createTransaction()" class="btn btn-primary btn-lg" type="button">Buy Now</div>
                    <div ng-if="advertisement.creator!=username"  ng-click="messageSeller()" class="btn btn-info btn-lg"  type="button">Chat</div>
                </div>
            </div>

            <h5 class="h4ad">  {{advertisement.category}} </h5>


            <!-- <h3>Comments:</h3> -->
            <div >    
                <div class="panel panel-default">
                    <div class="panel-heading">
                        COMMENTS
                    </div>
                    <div class="panel-body" ng-repeat="comment in advertisement.comments">
                        <strong>{{comment.user}} : </strong> <span class="text-muted"> {{comment.body}}</span>

                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->

            </div>



            <form class="form">      
                <div class="form-group">

                    <input id="comments" ng-model="commentBody" class="form-control" type="text" placeholder="YOUR COMMENTS"/>
                </div>
                <div class="form-group">
                    <button ng-disabled="!commentBody" ng-click="addComment()" class="btn btn-primary" id="addcom">Add <span class="glyphicon glyphicon-plus-sign"></span></button>
                </div>
            </form>

        </div>  
    </div>